body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin-top: 1%;
  margin-left: 2%;
  width: 80vw;
  height: 80vh;
  background-color: #f5f5fd;
  padding-left: 1rem;
}

.heading{
  text-align: center;
  padding-top: 4rem;
  font-size: 2.5rem;
}

.text{
  width: 90%;
  padding: .8rem;
  background-color: #e9ecef;
  font-size: 1.2rem;
  color:#818491;
  display: inline;
}

.copy{
  width: 0%;
  padding: .8rem;
  margin-top: -5rem;
  margin-left: 92.5%;
 
}

.select{
  display: inline-block;
  font-size: 1.3rem;
  font-weight: lighter;
  color: #303235;
}

.option{
  margin-left: 56%;
  width: 20%;
  height: 9.5%;
  border-radius: 5px;
}

.checkbox{
  font-size: 1.3rem;
  color: #454444;
}

label{
  margin-left: .7rem;
}

.button{
  width: 93%;
  height: 12% ;
  margin-top: .8rem;
  font-size: 1.5rem;
  background-color: #138496;
  color: white;
  border: transparent;
  border-radius: 8px;
}

.img{
  width: 5rem;
  height: 5rem;
  margin-left: -1rem;
  margin-top: -3rem;
}